In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Q2
When heart muscle is deprived of oxygen, the tissue dies and leads to a heart attack ("myocardial
infarction"). Apparently, cooling the heart reduces the size of the heart attack. It is not known, however,
whether cooling is only effective if it takes place before the blood, flow to the heart becomes restricted.
Some researchers (Hale, et al, 1997) hypothesized that cooling the heart would be effective in reducing
the size of the heart attack even if it takes place after the blood flow becomes restricted.
To investigate their hypothesis, the researchers conducted an experiment on 32 anesthetized rabbits
that were subjected to a heart attack. The researchers established three experimental groups:

Rabbits whose hearts were cooled to 6º C within 5 minutes of the blocked artery ("early cooling")

Rabbits whose hearts were cooled to 6º C within 25 minutes of the blocked artery ("late cooling")

Rabbits whose hearts were not cooled at all ("no cooling")
At the end of the experiment, the researchers measured the size of the infarcted (i.e., damaged) area (in
grams) in each of the 32 rabbits. But, as you can imagine, there is great variability in the size of hearts.
The size of a rabbit's infarcted area may be large only because it has a larger heart. Therefore, in order
to adjust for differences in heart sizes, the researchers also measured the size of the region at risk for
infarction (in grams) in each of the 32 rabbits.

With their measurements in hand, the researchers' primary research question was: Does the mean size
of the infarcted area differ among the three treatment groups — no cooling, early cooling, and late
cooling — when controlling for the size of the region at risk for infarction?
A regression model that the researchers might use in answering their research question is:
yi=(β0+β1xi1+β2xi2+β3xi3)+ϵi

yi is the size of the infarcted area (in grams) of rabbit i

xi1 is the size of the region at risk (in grams) of rabbit i

xi2 = 1 if early cooling of rabbit i, 0 if not

xi3 = 1 if late cooling of rabbit i, 0 if not

and the independent error terms εi follow a normal distribution with mean 0 and equal variance σ2.
Illustrates the need for being able to "translate" a research question into a statistical procedure. Often,
the procedure involves four steps, namely:

formulating a multiple regression model

determining how the model helps answer the research question

checking the model

and performing a hypothesis test (or calculating a confidence interval)



a. Create a CSV file with sample data.

b. Write a Python function program to:

c. Find the fitted multiple linear regression equation for the given data.

d. Compare the coefficients obtained manually using intuitive and matrix formulation methods with
your program.

e. Plot the data adorned with the estimated regression equation.

f. Compute the error, MSE, and RMSE.

In [14]:
df=pd.read_csv('rabbit_data.csv')
df

    Infarc  Area  Group  X2  X3
0    0.119  0.34      3   0   0
1    0.190  0.64      3   0   0
2    0.395  0.76      3   0   0
3    0.469  0.83      3   0   0
4    0.130  0.73      3   0   0
5    0.311  0.82      3   0   0
6    0.418  0.95      3   0   0
7    0.480  1.06      3   0   0
8    0.687  1.20      3   0   0
9    0.847  1.47      3   0   0
10   0.062  0.44      1   1   0
11   0.122  0.77      1   1   0
12   0.033  0.90      1   1   0
13   0.102  1.07      1   1   0
14   0.206  1.01      1   1   0
15   0.249  1.03      1   1   0
16   0.220  1.16      1   1   0
17   0.299  1.21      1   1   0
18   0.350  1.20      1   1   0
19   0.350  1.22      1   1   0
20   0.588  0.99      1   1   0
21   0.379  0.77      2   0   1
22   0.149  1.05      2   0   1
23   0.316  1.06      2   0   1
24   0.390  1.02      2   0   1
25   0.429  0.99      2   0   1
26   0.477  0.97      2   0   1
27   0.439  1.12      2   0   1
28   0.446  1.23      2   0   1
29   0.538  1.19      2   0   1
30   0.625  1.22      2   0   1
31   0.974  1.40      2   0   1

In [15]:
X1 = df['Area']
X2 = df['X2']
y = df['Infarc']
X3 = df['X3']

mat1 = np.array([[len(X1),np.sum(X1),np.sum(X2),np.sum(X3)],[np.sum(X1),np.sum(X1**2),np.sum(X1*X2),np.sum(X1*X3)],[np.sum(X2),np.sum(X1*X2),np.sum(X2**2),np.sum(X3*X2)],[np.sum(X3),np.sum(X1*X3),np.sum(X2*X3),np.sum(X**2)]])
mat2 = np.array([[np.sum(y),np.sum(X1*y),np.sum(X2*y),np.sum(X3*y)]])
coeffs = np.dot(np.linalg.inv(mat1),mat2.T)
b0,b1,b2,b3 = coeffs[0,0],coeffs[1,0],coeffs[2,0],coeffs[3,0]
y_prd = b0 + b1*X1+ b2*(X2) +b3*X3
squared_err = (y-y_prd)**2
rmse_mat = np.sqrt(np.mean(squared_err))
print("Mean Squared Error: ")
print(np.mean(squared_err))
print("Coefficients: ")
print(f"b0: {b0}\nb1: {b1}\nb2: {b2}")
print("y_pred: ")
print(y_prd)
print("RMSE matrix:")
print(rmse_mat)
print(len(X))
print("Sum of X1: ")
print(np.sum(X1))
print("Sum of X2: ")
print(np.sum(X2))
print("Sum of X3: ")
print(np.sum(X3))
print("Sum of X2*X3: ")
print(np.sum(X2*X3))
print("Sum of y: ")
print(np.sum(y))
print("Sum of X1*y: ")
print(np.sum(X1*y))
print("Sum of X2*y: ")
print(np.sum((X2*y)))
print("Sum of X3*y: ")
print(np.sum(X3*y))
print("Sum of X1*X2: ")
print(np.sum(X1*X2))
print("Sum of X1*X3: ")
print(np.sum(X1*X3))

NameError: name 'X' is not defined