# Q1

In [22]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SquareIntegers").getOrCreate()

numbers = [1, 2, 3, 4, 5]
numbers_rdd = spark.sparkContext.parallelize(numbers)

squared_rdd = numbers_rdd.map(lambda x: x * x)

squared_numbers = squared_rdd.collect()
print(squared_numbers)

spark.stop()

[1, 4, 9, 16, 25]

# Q2

In [24]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import max

spark = SparkSession.builder.appName("FindMax").getOrCreate()

data = [(1,), (3,), (5,), (7,), (2,)]

df = spark.createDataFrame(data, ["number"])

df.show()

max_value = df.select(max("number")).collect()[0][0]

print(f"The maximum value is: {max_value}")

spark.stop()

/home/lplab/anaconda3/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

+------+
|number|
+------+
|     1|
|     3|
|     5|
|     7|
|     2|
+------+

The maximum value is: 7

# Q3

In [25]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg

spark = SparkSession.builder \
    .appName("FindAverageExample") \
    .getOrCreate()

data = [(1,), (3,), (5,), (7,), (2,)]

df = spark.createDataFrame(data, ["number"])

df.show()

average_value = df.select(avg("number")).collect()[0][0]

print(f"The average value is: {average_value}")

spark.stop()

/home/lplab/anaconda3/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

+------+
|number|
+------+
|     1|
|     3|
|     5|
|     7|
|     2|
+------+

The average value is: 3.6

# Q4

In [26]:

import pyspark
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Data Analysis').getOrCreate()
df=spark.read.csv('data.csv', header="True", inferSchema="True")

/home/lplab/anaconda3/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

# Q5

In [18]:
df.printSchema()
df.show()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: integer (nullable = true)

+---+-------------+---+-----------+------+
| id|         name|age| department|salary|
+---+-------------+---+-----------+------+
|  1|     John Doe| 29|Engineering| 75000|
|  2|   Jane Smith| 34|  Marketing| 68000|
|  3|Emily Johnson| 45|    Finance| 90000|
|  4|Michael Brown| 28|Engineering| 72000|
|  5|  Linda Davis| 39|         HR| 71000|
+---+-------------+---+-----------+------+

# Q6

In [21]:
df.select('salary').summary().show()

+-------+----------------+
|summary|          salary|
+-------+----------------+
|  count|               5|
|   mean|         75200.0|
| stddev|8642.91617453276|
|    min|           68000|
|    25%|           71000|
|    50%|           72000|
|    75%|           75000|
|    max|           90000|
+-------+----------------+