In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Q1
Implement in python program of the following problems using Bayes Theorem.

## a.
Of the students in the college, 60% of the students reside in the hostel and 40% of the students are day
scholars. Previous year results report that 30% of all students who stay in the hostel scored A Grade and 20%
of day scholars scored A grade. At the end of the year, one student is chosen at random and found that he/she
has an A grade. What is the probability that the student is a hosteler?

In [2]:
hosteler = 0.6
dayScholar = 0.4
hosteler_A = 0.3
dayScholar_A = 0.2

P=(hosteler_A*hosteler)/(hosteler_A*hosteler+dayScholar_A*dayScholar)
print(f"Probability student is a hostler given he scored an A: {P}")

Probability student is a hostler given he scored an A: 0.6923076923076923

## b.
Suppose you're testing for a rare disease, and you have the following information:

The disease has a prevalence of 0.01 (1% of the population has the disease).

The test is not perfect:

The test correctly identifies the disease (true positive) 99% of the time (sensitivity).

The test incorrectly indicates the disease (false positive) 2% of the time (1 - specificity).

Calculate the probability of having the disease given a positive test result using Bayes' theorem.

In [6]:
prevalence = 0.01
TP = 99
FP = 2

P=(prevalence*TP)/(prevalence*TP + (1-prevalence)*FP)
print(P)

0.33333333333333337

# Q2
Develop a function python code for Naïve Bayes classifier from scratch without using scikit-learn library,
to predict whether the buyer should buy computer or not. Consider a following sample training dataset stored
in a CSV file containing information about following buyer conditions (such as “<=30,” “medium,” “Yes,”
and “fair”) and whether the player played golf (“Yes” or “No”).

In [50]:
data={
    'age' : ['<=30', '<=30', '31 to 40', '>40', '>40', '>40', '31 to 40', '<=30', '<=30', '>40', '<=30', '31 to 40', '31 to 40', '>40'],
    'income' : ['high', 'high', 'high', 'medium', 'low', 'low', 'low', 'medium', 'low', 'medium', 'medium', 'medium', 'high', 'medium'],
    'student' : ['no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no'],
    'credit_rating' : ['fair', 'excellent', 'fair', 'fair', 'fair', 'excellent', 'excellent', 'fair', 'fair', 'fair', 'excellent', 'excellent', 'fair', 'excellent'],
    'buys_computer' : ['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no']
}

df = pd.DataFrame(data)
df

         age  income student credit_rating buys_computer
0       <=30    high      no          fair            no
1       <=30    high      no     excellent            no
2   31 to 40    high      no          fair           yes
3        >40  medium      no          fair           yes
4        >40     low     yes          fair           yes
5        >40     low     yes     excellent            no
6   31 to 40     low     yes     excellent           yes
7       <=30  medium      no          fair            no
8       <=30     low     yes          fair           yes
9        >40  medium     yes          fair           yes
10      <=30  medium     yes     excellent           yes
11  31 to 40  medium      no     excellent           yes
12  31 to 40    high     yes          fair           yes
13       >40  medium      no     excellent            no